@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  outline: none;
  perspective: 1000px;
  opacity: 0; /* Ensure elements are initially hidden */
  animation: fadeInSlideUp 1.2s forwards;
  font-family: 'Open Sans', sans-serif;
}

@keyframes fadeInSlideUp {
  0% {
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

body, html {
  background-color: #121212;
}

.appWrapper,
.appWrapperDark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  max-width: 100%;
  transition: all 0.25s linear;
}

.appWrapper {
  background-color: #FFFFFF;
  color: #121212;
}

.appWrapperDark {
  background-color: #121212;
  color: #FFFFFF;
}

.textarea,
.textareaDark,
.select,
.selectDark {
  margin: 10px 0;
  padding: 10px;
  font-size: 15px;
  transition: all 0.25s linear;
  border-radius: 8px;
  border: none;
  resize: none;
}

.textarea,
.select {
  background-color: #dfdfdf;
  color: #121212;
}

.textareaDark,
.selectDark {
  background-color: #222;
  color: #FFF;
}

.textarea,
.textareaDark {
  width: 80%;
  height: 45vh;
}

.select,
.selectDark {
  width: 160px;
  font-size: 14px;
  width: 100% !important;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* align vertically */
  width: 80%;
  margin-bottom: 20px;
}

.characterCount {
  font-size: 15px;
  margin-top: 5px;
}

.genButton,
.genButtonDark {
  transition: all 0.10s linear;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  padding: 8px;
  width: 50vh;
  cursor: pointer;
}

.saveButton {
  transition: all 0.25s linear;
  border-radius: 8px;
  border: none;
  font-size: 13px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  background-color: #444;
  color: white;
}

.genButton:active {
  background-color: #dfdfdf;
}

.genButtonDark:active {
  background-color: #1a1a1a;
}

.genButton {
  border-radius: 8px;
}

.genButtonDark {
  background-color: #222;
  color: #fff;
}

.discordButton,
.discordButtonDark {
  margin-top: 15px;
  font-size: 5px;
  outline: none;
  border: none;
  background-color: transparent;
}

.savedPromptsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.savedPromptsList > li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hidden {
  display: none;
}

.saveMenu {
  max-width: 35px;
  max-height: 35px;
  min-width: 35px;
  min-height: 35px;
  font-size: 23px;
  color: white;
  background-color: #222;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s linear;
}

.savedPromptItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.savedPromptInput {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  background-color: #222;
  color: white;
}

.savedPromptButton {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  background-color: #222;
  color: white;
  cursor: pointer;
}
