@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  outline: none;
  perspective: 1000px;
  opacity: 0; /* Ensure elements are initially hidden */
  animation: fadeInSlideUp 1.2s forwards;
  font-family: 'Open Sans', sans-serif;
}

@keyframes fadeInSlideUp {
  0% {
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

body, html {
  background: linear-gradient(90deg,#e52e71,#ff8a00);
}

.slider-thumb::before {
  position: absolute;
  content: "";
  left: 30%;
  top: 20%;
  width: 450px;
  height: 450px;
  background: #17141d;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

.appWrapper,
.appWrapperDark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  max-width: 100%;
  transition: all 0.25s linear;
}

.appWrapper {
  background-color: #FFFFFF;
  color: #121212;
}

.appWrapperDark {
  color: #FFFFFF;
}

.textarea,
.textareaDark,
.select,
.selectDark {
  margin: 10px 0;
  padding: 10px;
  font-size: 15px;
  transition: all 0.25s linear;
  border-radius: 8px;
  border: none;
  resize: none;
}

.textarea,
.select {
  background-color: #dfdfdf;
  color: #121212;
}

.textareaDark,
.selectDark {
  background-color: #000000bb;
backdrop-filter: blur(10px);
  color: #FFF;
}

.textarea,
.textareaDark {
  width: 80%;
  height: 45vh;
}

.select,
.selectDark {
  width: 160px;
  font-size: 14px;
  width: 100% !important;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* align vertically */
  width: 80%;
  margin-bottom: 20px;
}

.characterCount {
  font-size: 15px;
  margin-top: 5px;
}

.genButton,
.genButtonDark {
  transition: all 0.10s linear;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  padding: 8px;
  width: 50vh;
  cursor: pointer;
}

.saveButton {
  animation: fadeInSlideUp 1.2s forwards !important;
  transition: all 0.10s linear;
  border-radius: 8px;
  border: none;
  font-size: 12px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  background-color: #444;
  color: white;
}

.genButton:active {
  background-color: #dfdfdf;
}

.genButtonDark:active {
  background-color: #1a1a1a;
}

.genButton {
  border-radius: 8px;
}

.genButtonDark {
  background-color: #000000bb;
backdrop-filter: blur(10px);
  color: #fff;
}

.discordButton,
.discordButtonDark {
  margin-top: 15px;
  font-size: 5px;
  outline: none;
  border: none;
  background-color: transparent;
}

.savedPromptsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.savedPromptsList > li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hidden {
  display: none;
}

.jailbreakBar {
  display: flex;
  flex-direction: column;  /* Stack children vertically */
  align-items: center;     /* Center children horizontally */
  justify-content: center; /* Center children vertically, might not be necessary depending on the height of your container */
}

.fullJailbreakList {
  overflow-y: auto;
  max-height: 65vh; /* or whatever value works best for your UI */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* By default, try to fill as many 150px-wide items per row */
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #000000bb;
backdrop-filter: blur(10px);
  animation: fadeInSlideUp 1.2s forwards;
}

.fullJailbreakList div {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;  /* <-- This line adds the smooth transition */
}

.fullJailbreakList div:hover {
  background-color: #333;
}

/* General spacing for all jailbreak items */
.jailbreakItem {
  padding: 10px 0;  /* This is just an example, adjust the padding as needed */
}

.jbBtn {
  animation: fadeInSlideUp 1.2s forwards;
  width: 200px;
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  color: white;
  background-color: #000000bb;
backdrop-filter: blur(10px);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Breakpoints for responsiveness */

/* Large screens: 5 items */
@media (min-width: 800px) {
.fullJailbreakList {
    grid-template-columns: repeat(5, 1fr);
}
}

/* Medium screens: 3 items */
@media (min-width: 480px) and (max-width: 799px) {
.fullJailbreakList {
    grid-template-columns: repeat(3, 1fr);
}
}

/* Small screens: 1 item (tower-like structure) */
@media (max-width: 479px) {
.fullJailbreakList {
    grid-template-columns: repeat(1, 1fr);
}
}

.selectedJailbreakText {
  border: 2px solid #333;
  border-radius: 8px;
  padding: 5px;
  background-color: #000000bb;
  backdrop-filter: blur(10px);
}

.saveMenu {
  animation: fadeInSlideUp 1.2s forwards !important;
  width: 200px;
  padding: 5px;
  font-size: 15px;
  color: white;
  background-color: #000000bb;
backdrop-filter: blur(10px);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.savedPromptItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.savedPromptInput {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  background-color: #000000bb;
backdrop-filter: blur(10px);
  color: white;
}

.savedPromptButton {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  background-color: #000000bb;
backdrop-filter: blur(10px);
  color: white;
  cursor: pointer;
}
