.jailbreakSelector .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  
  .jailbreakSelector .options .scrollable {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .jailbreakSelector .options .description {
    padding: 10px;
  }
  
  /* Add transition classes */
  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
  }

  .dropdown-open {
    max-height: 300px; /* or whatever your max height is */
    transition: max-height 0.5s ease-in-out; /* adjust timing as needed */
  }
  
  .dropdown-closed {
    max-height: 0;
    transition: max-height 0.5s ease-in-out; /* adjust timing as needed */
    overflow: hidden;
  }